<%= content_for(:head_attributes) do %>
  data-listener-id="<%= @user.id %>"
  data-listener-type="user"
<% end %>

<h1>Приватный</h1>

<div id="messages">
    <% @messages.each do |message| %>
    <div>
        <span><%= message.author.nickname %>: <%= message.text %></span>
    </div>
    <% end %>
  <div id='empty_chat'> Сообщений в чате нет </div>
</div>
<br>

<div id='new_message_form'>
<%= form_with(model: @message, url: messages_path(@message)) do |message_form| %>
<%= message_form.label :text, "Введите сообщение"%>
<%= message_form.text_field :text %>
<%= message_form.hidden_field :user_id, value: @user.id %>
<%= message_form.submit %>
<% end %>
</div>
<br>
<div>
  <%= link_to 'Покинуть канал', channels_path, method: :get %>
</div>

